@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

li {
  list-style: none;
  font-size: 1rem;
  color: #fff;
}

.btn {
  height: 2.5rem;
  /* background: #ccc; */
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 5rem;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
}

/*selectors - tag, class,  */
/* Navbar Styling start */
nav {
  background-color: #353637;
  color: #fff;
  padding: 1rem 0;
  min-height: 4.5rem;
  border: 3px solid #32a0c2;
}
nav a {
  text-transform: uppercase;
}

nav li {
  float: left;
  display: inline;
  /* padding: 0 1.5rem 0 1.5rem; */
  padding: 0 1.5rem;
  font-weight: 600;
}

nav .branding {
  float: left;
}

nav .branding a {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 0.8rem;
}

nav .branding a i {
  margin-right: 0.5rem;
  color: #32a0c2;
}

nav ul {
  float: right;
  margin-top: 0.8rem;
}

nav ul li a.active {
  color: #32a0c2;
  font-weight: 700;
}

nav ul li a:hover {
  color: #32a0c2;
  font-weight: 700;
}

/* Navbar Styling end */

/* Header Styling start */
header {
  margin: 0;
  min-height: 38rem;
  background: url('../images/web-development-banner.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

header h1 {
  margin-top: 6rem;
  font-size: 3rem;
  margin-bottom: 1rem;
}

header p {
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: justify;
}

/* Header Styling end */

/* newsletter Styling start */
.newsletter {
  padding: 1rem;
  color: #fff;
  background: #353637;
}

.newsletter h2 {
  float: left;
}

.newsletter form {
  float: right;
  margin-top: 0.3rem;
}

.newsletter input[type='email'] {
  padding: 1rem;
  height: 2.5rem;
  width: 16rem;
  border-radius: 3px;
  border: 0;
}

.newsletter input[type='email']:focus {
  outline: none;
}

.newsletter .btn {
  background-color: #32a0c2;
  border-color: #32a0c2;
  color: #fff;
}

/* card Styling start*/
.cards {
  padding: 2rem 0;
  margin: 2rem 0;
}
.cards .container {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
}

.cards .container .card {
  width: 28%;
  margin: 0 1rem;
  padding: 0 0.5rem;
}

.cards .container .card i {
  color: #32a0c2;
  padding-bottom: 1rem;
}

.cards .container .card h3 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.cards .container .card p {
  padding-bottom: 1rem;
}

/* card Styling end*/

footer {
  padding: 1rem;
  margin-top: 1rem;
  color: #fff;
  background-color: #32a0c2;
  text-align: center;
  font-size: 1.2rem;
}

/* About us CSS */

main .container {
  display: flex;
  min-height: 80vh;
}
main h1 {
  text-align: center;
  margin-bottom: 1rem;
}

main .container article {
  width: 70%;
  margin: 1rem 2rem;
  padding: 1rem 2rem;
}

main .container article p {
  margin: 1.5rem auto;
}

main .container aside {
  width: 30%;
  margin: 1rem 0 1rem 0;
  padding: 1rem 0;
}

main .container aside h3 {
  margin-bottom: 1rem;
}

.services .container .article {
  width: 60%;
}

.services .container .aside {
  width: 40%;
}

.services form {
  margin: 1rem;
  padding: 1.5rem;
  width: 90%;
  min-height: 25rem;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.services form label,
.services form input,
.services form textarea,
.services form button {
  display: block;
  width: 100%;
  padding: 0.8rem;
  font-size: 1.2rem;
}

.services form textarea {
  resize: none;
  height: 10rem;
}

.services form button {
  background-color: #333;
  color: #fff;
  margin: 1rem 0;
  padding: 0.6rem 1rem;
}

/* Responsive css */

@media (max-width: 768px) {
  nav .branding,
  nav ul,
  nav ul li {
    float: none;
    text-align: center;
    width: 100%;
  }

  header h1 {
    margin-top: 4rem;
    font-size: 2rem;
  }

  header p {
    font-size: 1.2rem;
  }

  .newsletter h2,
  .newsletter form input,
  .newsletter form button {
    display: block;
    width: 100%;
    float: none;
    text-align: center;
    margin-bottom: 1rem;
  }

  .cards .container .card {
    width: 100%;
  }

  main .container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
  }

  main .container article,
  main .container aside {
    width: 100%;
    margin: 1rem;
    padding: 1rem;
  }

  main .container aside h3 {
    text-align: center;
  }
}
